{% extends 'login_register_main.html' %}
{% block content %}
{% load static %}
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{message.tags}}" role="alert">
          <button type="button" class="close pl-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(/static/assets/img//gallery/2.png);">
              </div>
                    <div class="login-wrap p-4 p-md-5">
                  <div class="d-flex">
                      <div class="w-100">
                          <h3 class="mb-4">Password Recovery</h3>
                      </div>
                  </div>
                <form action="" class="signin-form" method="POST">
                            {% csrf_token %}
                <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="password" id="password" required  onkeyup='check();'>
                </div>

                <div class="form-group mb-3">
                    <label class="label" for="re_password">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Confirm Password" name="re_password" id="re_password" required  onkeyup='check();' >
                </div>
                <span id="message" class="p-2"></span>
                <div class="pb-4"></div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Set Password</button>
                </div>
            </form>
            </div>
          </div>
            </div>
        </div>
    </div>
{% endblock %}