{% extends 'main.html' %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-2">

            <div class="container px-md-5">
              <div class="row justify-content-center">
                <div class="col-10">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                      <div class="card border-0 mb-3"><img class="card-img-top" src="/static/assets/img/team/team1.jpg" alt="" />
                        <div class="row g-0 card-body px-0 pt-2">
                          <div class="col-12 col-xl-8 text-center text-xl-start">
                            <h4>Aheli Biswas</h4>
                            <p class="text-warning mb-2">Creater & Back-end Dev</p>
                          </div>
                          <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                          <p>Hi Everyone, I am Aheli and I am the solo creater of meme-land.This is one of my personal projects and little contribute to the community who helped
                            me through tough times and struggle.Thank you for being the part of Meme-Land and a part of my journey. In the future I will try to bring more cool
                            and fun projects. Sayonara!!
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================--
{% endblock %}