{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="py-4" id="contact">

  <div class="container px-md-5">
    <div class="row align-items-center">
      <div class="my-4 text-center">
        <h1 class="text-uppercase fs-lg-8 fs-6 fw-bolder text-300 lh-1 position-relative z-index-0">Upload</h1>
        <h1 class="fw-bolder text-outlined fs-7 text-white lh-1 mt-n4 position-relative z-index--1">Image</h1>
        <form class="my-5 px-3" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row g-3 g-md-5">
            <div class="col-md-6">
              <div class="card border-0">
                <div class="form-floating mb-3">
                  <input class="form-control form-fotogency-header-control" id="floatingEmail" type="text" placeholder="Name of the Image" name="title" />
                  <label for="floatingEmail">Name of the Image</label>
                </div>
                <div class="form-floating mb-3">
                  <!-- <select class="form-select form-fotogency-header-control">
                      <option selected>Select Genre for Image</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select> -->
                    <input type="text" list="genre" class="form-control form-fotogency-header-control" id="floatingName" name="genre_title" />
                      <datalist id="genre">
                        {% for genre in genres %}
                      <option>{{genre.title}}</option>
                        {% endfor %}
                      </datalist>
                  <label for="floatingName">Select Genre</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-fotogency-header-control" id="floatingPhone" type="file" name="image" />
                  <label for="floatingPhone"></label>
                </div>
              </div>
              <div class="col text-end mt-3">
                  <button class="btn btn-link text-warning p-0" type="submit"><span class="fw-bolder text-uppercase">Upload</span><img class="ms-3" src="{% static 'assets/img/icons/long-arrow.png' %}" alt="" /></button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
{% endblock %}